@page "/"

<h1 class="mb-4">
    Sistema Zoológico
</h1>

<p class="mb-5">
    Gestión de aves del zoológico.
</p>

<div class="row">

    <div class="col-md-6">

        <div class="dashboard-card">

            <h4>
                Registrar Ave
            </h4>

            <p>
                Agregar nuevas aves al sistema.
            </p>

            <a href="/aves"
                   class="btn btn-primary">

                Registrar

            </a>

        </div>

    </div>

    <div class="col-md-6">

        <div class="dashboard-card">

            <h4>
                Lista de Aves
            </h4>

            <p>
                Ver todas las aves registradas.
            </p>

            <a href="/lista-aves"
                   class="btn btn-primary">

                Ver Lista

            </a>

        </div>

    </div>

</div>